/* Version 1.0 */

/* EZTheme, made by Anton. 
Made to be easy changed and customized for beginners.*/

/* Header code, change height and width to the size of your header, also change the background-image name to the name of your header file. */

.pagename a {
    font-size: 0;
}

/* Header text */

.pagename:after {
    content: "/r/EZTheme v. 1.1";
    color: #000;
    letter-spacing: 5px;
    font-weight: normal;
    font-variant: normal;
    font-size: 100px;
    font-family: "Bodoni 72";
    margin-left: 250px;
}

.pagename a {
	font: Arial;
	font-style: bold;
	color: black;
}

#header {
	background-image: url(%%header%%);
	background-position: left center;
	height: 200px;
	width: 1920px;
	background-repeat: repeat;
}

body {
	font-family: Candara;
	font-style: italic;
	/*background-color: black;*/ /* Remove the background image line of code and uncomment this line of code to have a static color of your background. (White for default) */
	background-image: url(%%repeatbackground%%);
}

/* Upvote/Downvote arrows */

.arrow.upmod {
	background: url(%%upvote%%);
}

.arrow.downmod {
	background: url(%%downvote%%)
}

.arrow.down {
	background: url(%%down%%)
}

.arrow.up {
	background: url(%%up%%)
}

/* Side box, where subscribe, and readers content are shown. */

.side {
	border-radius: 4px;
	border: 1px solid black;
	background-color: #F7F7F7;
	padding: 16px; 
	color: #0071c5;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.4);	
}

.titlebox {
	border-radius: 4px;
	border: 1px solid black;
	background-color: #F7F7F7;
	padding: 16px; 
	color: #0071c5;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
}

.sidecontentbox .content {
	border-radius: 4px;
	border: 1px solid black;
	background-color: #F7F7F7;
	padding: 16px; 
	color: #0071c5;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
}

/* Taglines */

.tagline .stickied-tagline { /* This tagline is the announcment tag */
	border-radius: 4px;
	font-family: Arial Black;
	text-transform: uppercase;
	font-size: 10px;
	border: 1px solid black;
	background-color: green;
	padding: 2px; 
	color: white;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
	margin-bottom: 1px;
}

/* Tab Menu, hot, new, etc. */

#header .tabmenu {
	display: block;
	margin-left: 5px;
	margin-top: 130px;
	position: absolute;
	bottom: -5px;
}

#header .tabmenu li a {
	text-transform: uppercase;
}

.tabmenu {
	list-style-type: none;
	white-space: nowrap;
	margin-top: 10px;
	vertical-align: bottom;
}

.tabmenu li a {
	padding: 2px 6px 0 6px;
}

/* Buttons under all posts, comment, share, etc
(I commented some of the code lines here, as I did
not know if it would fit the theme*/

.entry .buttons li {
	margin-top: 5px;
	/*border-radius: 4px;*/
	font-family: Arial Black;
	text-transform: uppercase;
	font-size: 10px;
	/*border: 1px solid black;*/
	background-color: black;
	/*padding: 2px;*/
	/*box-shadow: 0px 0px 8px rgba(0,0,0,0.4);*/
	margin-bottom: 1px;
}

.entry .buttons li a {
	color: black;
}


.entry .buttons li a {
	color: white;
}

.domain a {
	color: blue;
}

/* The list page, this code makes it look nice with a border and a box shadow. */

body.listing-page[class] > .content, body[class] > .content {
	margin: 15px px 15px 5px;
	border-radius: 4px;
	border: 1px solid black;
	background-color: #F7F7F7;
	padding: 16px;
	color: #0071c5;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
	width: 80%;
}

.morelink a {
	color: white;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	color: blue;
}

/*Change the word for 'readers' and the currently online*/

.subscribers .word, .users-online .word{
display:none;
}
.subscribers .number:after { 
content: " readers" /* Change this to your custom name for your readers. */
}
.users-online .number:after { 
content: " currently online" /* Change the Currently Online message. */
}

/*Changing 'MODERATORS in sidebar*/  


.sidecontentbox .helplink + .title h1 { font-size: 0 !important }

.sidecontentbox .helplink + .title h1:before { font-size: 10pt !important; content: "Moderators" } /*Change the name of your moderators */

/* Random stuff removed */
.sidebox.create .spacer a {display: none;}
.sidebox .subtitle {display: none;}
.footer-parent {display: none} /* Remove this line of code to show the footer. */
#sr-header-area {display: none;}
#header-img {display: none;}
header-img.default-header{ display: none; }
#header #header-img { display: none; }

/* Uncategorised code (Place holder) */